.netlify-context-wrapper {
  height: 35px;
  color: #999;
  background: #111;

  display: flex;
  align-items: center;
  justify-content: center;

}

.netlify-context-wrapper  a {
  color: #F6BC00;
  text-decoration: none;
}

.netlify-context-wrapper .bucket {
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  font-family: Mono, Consolas, "Liberation Mono", Courier, monospace;
  line-height: 1;
  color: #CCC;
}
